{%extends 'layout.html'%}

{%block content%}

<div id="record_panel" class="container">
  {% for camera, tracklets in cameras.items()%}
    <div id="{{camera}}" class="horizontal-scroll-wrapper mt-4 mb-4 p-4 h_bar box active" data-toggle="tooltip" data-placement="top" title="{{camera}}">
      {% for tracklet, img, annotated, origin in tracklets%}
        {% if annotated%}
          {% if origin %}
            <img id="{{tracklet}}" src="data:image/jpeg;base64,{{img}}" class="img-thumbnail img m-1 p-2 bg-warning item"/>
          {% else %}
            <img id="{{tracklet}}" src="data:image/jpeg;base64,{{img}}" class="img-thumbnail img m-1 p-2 bg-success item"/>
          {% endif %}
        {% else %}
          {% if origin %}
            <img id="{{tracklet}}" src="data:image/jpeg;base64,{{img}}" class="img-thumbnail img m-1 p-2 bg-secondary item"/>
          {% else %}
            {% if loop.index0%1==0 %}
              <img id="{{tracklet}}" src="data:image/jpeg;base64,{{img}}" class="img-thumbnail img m-1 p-2 item"/>
            {% else %}
              <img id="{{tracklet}}" src="data:image/jpeg;base64,{{img}}" class="img-thumbnail img m-1 p-2 item kill"/>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor%}
    </div>
  {% endfor%}
</div>



<div class="card float-right col-md-1 p-1" id="anchor" style="position: fixed; z-index:1; top:100px; right:20px">
  {% for attribute in attributes%}
  <h5>
    <b class="my-2" style="display:block">{{attribute}}</b>
  </h5>
  {% endfor%}
  <img id='anchor_img' src="" class="m-1 p-2" style="height: 200px;object-fit: cover;"/>
</div>



<div class="card float-right col-md-2 p-1" style="position: fixed; z-index:1; bottom:20px; right:20px">
  <textarea id="report" style="height:200px;">{{report if report}}</textarea>
</div>



<div class="hidden card bg-secondary fixed-bottom col-md-2 mt-5 ml-2 p-2">

  {% if completed %}
    <select class="custom-select my-2 mr-sm-2 bg-success" id="record_selected">
  {% else %}
    <select class="custom-select my-2 mr-sm-2" id="record_selected">
  {% endif %}

    {% for r, submitted in records %}
      {% if r == record %}
        {% if submitted %}
          <option id="select_{{r}}" selected value="{{record}}" class="bg-success">{{r}}</option>
        {% else %}
          <option id="select_{{r}}" selected value="{{record}}" class="bg-light">{{r}}</option>
        {% endif %}
      {% else %}
        {% if submitted %}
          <option id="select_{{r}}" value="{{r}}" class="bg-success">{{r}}</option>
        {% else %}
          <option id="select_{{r}}" value="{{r}}" class="bg-light">{{r}}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>

  <div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary" id="annotated_only">
      <input type="checkbox" autocomplete="off"> Annotated
    </label>
  </div>
  <div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active" id="hover_anchor">
      <input type="checkbox" autocomplete="off" checked> Anchor
    </label>
  </div>

  <!-- Specific options -->
  <div class="none mt-2 mb-2" id="camera_func">
    <b class="my-2" style="display:block">None</b>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary" id="small">
        <input type="radio" name="options"  autocomplete="off"> S
      </label>
      <label class="btn btn-secondary active" id="meddium">
        <input type="radio" name="options"  autocomplete="off" checked> M
      </label>
      <label class="btn btn-secondary" id="big">
        <input type="radio" name="options"  autocomplete="off"> L
      </label>
    </div>

    <select class="custom-select my-2 mr-sm-2" id="skip">
      <option selected value="1">No Skip</option>
      <option value="5">Skip 5</option>
      <option value="10">Skip 10</option>
      <option value="15">Skip 15</option>
    </select>

  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-danger mt-1" id='submit'>Submit</button>
    <!-- <button type="button" class="btn btn-warning mt-1" id='request'>Request</button> -->
  </div>

</div>
{%endblock content%}

{% block js %}
<script type="text/javascript" src="{{url_for('static',filename='annotation.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='camera_func.js')}}"></script>
<script type="text/javascript">

  $(window).on('load', function() {
    window.setInterval(function() {
      if (!FLOCK) {
        var annotation = [];
        $('.img.bg-success, .img.bg-warning').map(function() {
          annotation.push([$(this).parent().attr('id'), $(this).attr('id')]);
        })
        var report = $('#report').val();
        $.ajax({
          url: '/submit',
          dataType: 'json',
          contentType: 'application/json',
          method: 'POST',
          data: JSON.stringify({
            'annotated': annotation,
            'finished': false,
            'dir': "{{dir}}",
            'record': "{{record}}",
            'report': report,
          }),
        });
      }
    }, 10000); /// call your function every n ms
  });

  $(document).on('click', '#submit', function() {
      var annotation = [];
      if (!FLOCK) {
        FLOCK = true;
        $('.img.bg-success, .img.bg-warning').map(function() {
          annotation.push([$(this).parent().attr('id'), $(this).attr('id')]);
        })
        var report = $('#report').val();
        $.ajax({
          url: '/submit',
          dataType: 'json',
          contentType: 'application/json',
          method: 'POST',
          data: JSON.stringify({
            'annotated': annotation,
            'finished': true,
            'dir': "{{dir}}",
            'record': "{{record}}",
            'report': report,
          }),
          success: function(msg) {
            FLOCK = false;
            {% if not next %}
              window.location.href = "/home";
            {% else %}
              window.location.href = "./{{next}}";
            {% endif %}
          },
          error: function(msg) {
            FLOCK = false;
            alert("Submit fails. Please try again.");
          },
        });
      }
    }
  );
</script>
{% endblock %}
