{%extends 'layout.html'%}

{%block content%}
<div class="content-section text-center p-2">
    <div id="accordion">
        {% for date in date_list%}
        <div class="card">
            <div class="card-header p-0 text-center" id="heading{{date|string}}">
                <h5 class="mb-0">
                    <button id="collapse_btn{{date|string}}" class="btn btn-info  btn-block text-center"
                        data-toggle="collapse" data-target="#collapse{{date|string}}" aria-expanded="true"
                        aria-controls="collapse{{date|string}}">
                        {{date}}
                    </button>
                </h5>
            </div>

            <div id="collapse{{date|string}}" class="collapse hidden" aria-labelledby="heading{{date|string}}"
                data-parent="#accordion">
                <div class="card-body p-1">
                        {%for dir in date_dict[date]%}
                        <a href="{{url_for('annotation.record', dir=dir, record=dir_dict[dir][0])}}">{{dir}}</a>
                        <br>
                        {%endfor%}
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock content%}

    